server {
    listen 80;
    server_name {{ item.server_name }};

    # Exception rule for certbot renewal
    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /usr/share/nginx/html/letsencrypt;
        try_files $uri $uri/ =404;
        break;
    }
    location = /.well-known/acme-challenge/ {
        return 404;
    }

    {% if ssl | default(true) %}
    location / {
        return 301 https://$host$request_uri;
    }
    {% endif %}
}

{% if ssl | default(true) %}
server {
    server_name {{ item.server_name }};
    listen 443 ssl http2{% if default_server|default(false) %} default_server{% endif %};

    ssl_certificate_key /etc/letsencrypt/live/{{ item.server_name }}/privkey.pem;
    ssl_certificate     /etc/letsencrypt/live/{{ item.server_name }}/fullchain.pem;
    # verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate /etc/letsencrypt/live/{{ item.server_name }}/fullchain.pem;
    include /etc/nginx/conf.d/drupal-nginx-config/snippets/ssl-ciphers;

    access_log /var/log/nginx/{{ item.server_name }}.access.log main;
    error_log  /var/log/nginx/{{ item.server_name }}.error.log notice;

    root          /var/www/html/{{ item.server_name }}/web;

    include /etc/nginx/conf.d/drupal-nginx-config/snippets/robots-noindex;

    set $heavy_lifter_root $document_root/sync;
    include /etc/nginx/conf.d/drupal-nginx-config/snippets/heavy-lifter-sync;

    set $drupal8_fpm_server php{{ item.php_version }};
    include /etc/nginx/conf.d/drupal-nginx-config/snippets/drupal8;

    {% if item.robots_no_index|default(false) %}
    include /etc/nginx/conf.d/drupal-nginx-config/snippets/robots-noindex;
    {% endif %}
}
{% endif %}